
main { text-align: center; }

#contenedorVideojuego {
    display: inline-block;
    margin: 50px;
    width: 600px;
    padding: 20px 50px;
    background: rgba(200, 200, 200, 0.7);
    text-align: center;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4);
}

header h1 img {
    height: 50px;
    width: auto;
    animation: giraLogo 5s infinite linear;
}
nav ul li ul {
    width: 150px;
    left: 50%;
    margin-left: -75px; /* Mitad del ancho para centrar el desplegable respecto al padre */
}

@keyframes giraLogo {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(0deg); }
}


.chincheta1, .chincheta2, .chincheta3 {
    position: absolute;
    width: 35px;
    height: 49px;
    background: url("../chincheta.png") no-repeat;
    background-size: contain;
    animation-fill-mode: forwards;
}
















